body
{
     font-family: 'montserrat', sans-serif;
}
span
{
    font-size: 28px;
    color: #fff;
}
div{
    display: block;
}
.jumbotron
{
    background-image: url(../images/bg-2.jpg); 
    background-attachment: fixed; 
    background-size: cover; 
    /*background-position: 0 -200px; */
    height: 450px; background-repeat: no-repeat;
}
.jumbotron p
{
    color: #fff;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 30px;
    margin-bottom: 30px;
}
.work-ex
{   
    margin-top: 20px;
    margin-bottom: 50px;
}
.work{
    margin-bottom: 15px;
    margin-top: 20px;
    margin-right:5px;

    padding: 30px;
}
.work .tanggal
{
    float: right;
    color: rgba(0,0,0,0.3);
    font-size: 14px;
    margin-top: 6px;
    margin-left: 5px; 

}
.work .perusahaan
{
    width: 170px;
    font-size: 11px;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:5px;
}
.work .school
{
    width: 170px;
    font-size: 11px;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:5px;
}
.work p{
    color: rgba(0,0,0,0.8);
    margin-top: 5px;
    font-size: 14px;
    font-weight: 350;
}
.skill
{
    padding:35px;
}
.title-skill
{
    font-size: 14px;
    color: #333;
}
.skill .progress
{
    height: 3px;
    margin-bottom: 20px;
}
.quotes
{
    margin-top: 35px;
    border-top: 1px solid #ddd;
    padding:70px;
    /*background-color: rgba(0,0,0,0.1);*/
}
.quotes p
{
    font-size: 17px;
}
.footers
{
    margin:0 auto;
    padding-top: 35px;
    border-top: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 50px;
}
.footers span{
    color: #333;
    font-size: 12px;
}